@import "variables";
@import "mixins";

body {
  background: $primary-background;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  text-align: center;
  padding: 40px;
}

h2 {
  padding: 15px;
}

hr {
  border-color: black;
}

#login-box {
  border-color: black;
  border-style: groove;
  border-radius: 20px;
  text-align: center;
  width: 400px;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  font-size: 150%;
  margin-top: 100px;
}

.login-field {
  padding: 20px;
  font-size: 100%;
}

input {
  height: 35px;
  width: 300px;
  border-radius: 20px;;
}

.submit-button {
  margin: 20px;
  width: 80px;
  height: 40px;
  border-radius: 20px;
}

.hidden {
  display: none;
}

.trip-info,
.agent-info {
  // display: grid;
  // grid-template-columns: 3;
  display: flex;
  flex-direction: column, 3;
  // align-items: stretch;
  justify-content: space-evenly;
}

.cards {
  border-style: solid;
  border-color: black;

}

